*{
  margin:0;
  padding:0;
  border:none;
}
*,
*::before,
*::after{
  -webkit-box-sizing:inherit;
  box-sizing:inherit;
}
html,
body{
  height:100%;
}
html{
  font-family:sans-serif;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  /** background-color: #f8fafc; **/
  background-color:#eee;
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body{
 hyphens:auto
}
body:before{
  content:"";
  position:fixed;
  top:-15px;
  left:0;
  width:100%;
  height:15px;
  z-index:100;
  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.9);
  -moz-box-shadow:0px 0px 10px rgba(0,0,0,.9);
  box-shadow:0px 0px 10px rgba(0,0,0,.9)
}
ul{
  list-style-type:none;
}
a{
  color:#fff;
  text-decoration:underline;
  cursor:pointer;
}


#content{
 /** max-width:992px; **/
 margin-left:auto;
 margin-right:auto;
}
header{
  /** background-color:#666; **/
}
main{
  background-color:#fff;
  color:#3d4852;
  padding:2.5em 1.5em;
  -webkit-box-shadow:0 2px 4px 0 rgba(0, 0, 0, .1);
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, .1);
  border-radius:.25rem;
  border:1px solid rgb(218, 225, 231);
}
h1{
  margin-bottom:1.5rem;
  text-align:left;
}
footer{
  padding:2.25rem 2.25rem .5rem 2.25rem;
  color:#fff;
  font-size:1rem;
  /** background-color:#666; **/
  background-color:#212121;
}

.xoxo.social{
  padding:0 0 1rem 0;
}
.xoxo.social li{
  /** margin-right:1rem; **/
  font-weight:700;
}
.xoxo.social .ul-sub li{
  display:block;
  font-weight:700;
  margin-right:0;
  text-decoration:none;
}
.ul-sub{
  padding-top:.35rem;
}
.ul-sub a{
  font-weight:400;
  font-size:.85rem;
}
.li-title{
  margin-bottom:.5rem;
  /**text-decoration:underline;**/
}


.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/** social sharing links **/
.social-share a{
  color:#000;
}
.social-link{
  background-image:url("../img/sprite-social-share-01-transparent.png");
  background-repeat:no-repeat;
  height:20px;
  display:block;
}
.social-facebook{
  background-position:-66px 0;
  width:67px;
}
.social-twitter{
  background-position:0 0;
  width:61px;
}
.social-linkedin{
  background-position:-138px 0;
  width:62px;
}


footer a:hover{
  color:#ff0;
}
.xoxo.admin{
  margin-top:1.5rem;
  display:grid;
  grid-template-columns:50% 50%; 
}
.admin li{}
.admin li+li{
  text-align:right;
  align-self:end;
  height:15px;
  align-content:center;
  justify-content:center;
  line-height:1.2;
  line-height:15px;
}
.admin small{
  display:block;
  height:100%;
  font-size:inherit;
}

.admin a{
  text-decoration:none;
  height:100%;
  width:80px;
  overflow:hidden;
}


sub{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
  bottom: -0.25em;
}
header h1{
  background-image:url("../img/co2birthdate-logo-x512.png");
  background-position:5px 0;
  background-repeat:no-repeat;
  background-size:64px 64px;
  padding-left:0;
  text-align:center;
  height:64px;
  line-height:64px;
  font-size:1.5rem;
  margin-bottom:0;
}
#logo-header{}
#logo-footer{
  grid-column:1 / span 2;
}
.footer-nav{
  grid-column:1 / span 2;
}
.social-share{
  height:20px;
  overflow:hidden;
}
.social-share li{
  display:inline-block;
  height:100%;
  overflow:hidden;
  cursor:pointer;
}
#twitter-button{
  width:61px;
  background-color:#1c96e0;
}
#twitter-button a{
  color:#1c96e0; /** this is less than ideal **/
}
#facebook-button{
  width:67px;
  background-color:#1878f3;
}
#facebook-button a{
  color:#1878f3; /** this is less than ideal **/
}
#linkedin-button{
  width:63px;
  background-color:#0073b1;
}
.share-url{
  width:30px;
  height:100%;
  background-color:#fff;
  background-image:url("../img/noun-project-link-1690-vert-black-crop-x020.png");
  background-position:50% 50%;
  background-repeat:no-repeat;
}

/** forms **/
form{
  padding:1rem 2rem;
}
legend{
  text-align:center;
}
fieldset{
  /** padding:1rem 2rem; **/
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
}
/** fieldset grid and chrome don't play well together **/
/** fieldset-grid is a div child wrapper of the fieldset **/

label,
input{
  display:block;
  cursor:pointer;
}
label,
input[type="submit"]{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
label + span.block{
  margin-bottom:1rem;
}
input{
  outline:1px solid #111;
  cursor:pointer;
}
input[type="text"],
input[type="submit"]{
  margin-left:auto;
  margin-right:auto;
  color:#111;
  background-color:transparent;
  font-size:1rem;
}
input[type="submit"]{
  padding:1rem .5rem;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
input[type="text"]{
  width:100%;
  padding:1rem .7rem;
}
input[type="text"]:disabled,
input[type="submit"]:disabled{
  background-color:#eee;
  color:grey;
  border:1px solid grey;
  cursor:not-allowed;
}
input:hover{
  outline-style:dotted;
  background-color:#fdff00;
  text-decoration:underline;
}
input:active{}
input:focus{}
input[type="submit"]:hover{
  background-color:#111;
  color:#fff;
  outline-style:dotted;
}
input[type="submit"]:active{}
input[type="submit"]:focus{}

label{
  margin-bottom:.5rem;
}
#input-submit{
  margin-top:18px;
}



canvas{
  display:none;
}
#png-container{
  width:420px;
  height:20px;
}



#birthdate-shield{
  margin-top:.5rem;
  margin-bottom:.5rem;
}
h3{
  margin-top:.5rem;
  margin-bottom:.95rem;
}
p{
  margin-bottom:.65rem;
}
/**
code,
pre{hyphens:none}
**/
pre{
  white-space:pre;
  white-space:pre-wrap;
  white-space:pre-line;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-hp-pre-wrap;
  word-wrap:break-word;
  padding:0 5px 10px 5px;
  text-align:left;
  background-color:#ffff80;
  outline:1px solid #e6db55;
}
pre{
  margin-top:.5rem;
  margin-bottom:.5rem;
}
code{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; /** https://perishablepress.com/perfect-pre-tags/ **/
  font-size:80%;
  hyphens:none;
  color:#000;
}
pre code{
  /** font-size:17px; **/
}



@media (min-width: 1024px) {
  #content{
   max-width:992px;
  }
  #fieldset-grid{
    display:grid;
    justify-content:center;
    grid-template-columns:25% 25% 25% 25%;
    padding-top:1rem;
  }
  legend{
    text-align:left;
  }
  #input-submit{
    margin-top:18px;
    padding:0;
    height:50px;
  }
  label input{
    margin-top:2px;
  }

  h1{
    text-align:left;
  }

  .xoxo.social{
    padding:0 0 1rem 0;
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
  }
  .xoxo.social li{
    display:inline-block;
    /** margin-right:1rem; **/
    font-weight:700;
   /** text-decoration:underline; **/
  }
  .xoxo.social .ul-sub li{
    display:block;
    font-weight:700;
    margin-right:0;
    text-decoration:none;
  }
  .ul-sub{
    padding-top:.35rem;
  }
  .ul-sub a{
    font-weight:400;
  }
  footer{
    padding:2.25rem 2.25rem .5rem 2.25rem;
    font-size:.875rem;
  }
  h2{
    margin-bottom:0;
    text-align:left;
  }
  h3{
    /** margin-bottom:0; **/
    text-align:left;
  }
  header h1{
    padding-left:75px;
    text-align:left;
  }
}





